	<!--<div class="myModal" style="display: hidden; position:absolute; left:p; right:0; top: 0; height: 100%; width: 100%; background-color: rgba( 0, 0, 0, 0.5 ); z-index: 1;">-->
	<!--	<div align="center" style="margin-left:auto; margin-right:auto; margin-top:150px; width:800px; border-radius: 0;">-->
	<!--		<div class="modal-content">-->
	<!--	      <div class="modal-header">-->
	<!--	        <h4 class="modal-title">아직 공사중입니당</h4>-->
	<!--	      </div>-->
	<!--	      <div class="modal-body">-->
	<!--	        <img style="height:150px" src="/assets/under_construction.png">-->
	<!--	      </div>-->
	<!--	      <div class="modal-footer">-->
	<!--	      	<a href="/">-->
	<!--	        	<button type="button" class="btn btn-default" data-dismiss="modal" style="background: none; border-radius: 0;">-->
	<!--	        	  돌아가기-->
	<!--	        	</button>-->
	<!--	        </a>-->
	<!--	      </div>-->
	<!--	    </div>-->
	<!--    </div>-->
	<!--</div>-->

 	
  <!--<script type="text/javascript">-->
 	<!--	$(".myModal").css("display", "block")-->
  <!-- </script>-->
 
<div class="content" style="position:relative; top: 0; left: 0; height: 1000px; width: 100%; background-color: white;">
	<div id="inner" style="position:relative; left: 50%; margin-left: -500px; padding-top: 20px; padding-bottom: 20px; width: 1000px;">
	    <div id="hot100Title" style="margin-bottom: 20px; padding: 20px; height: 82px; width: 100%; border: 1px solid #dfdfdf; background-color: white;">
	        <span style="float: left; color: black; font-size: 30px; font-weight: 700; ">수다방&nbsp;</span>
            <span style="float: left; margin-top: 14px; color: black; font-size: 16px;">재잘재잘 떠드는 공간</span>
	    </div>  
  <table class="table table-striped">
    <thead style="border-bottom:0.5px solid black">
      <tr>
        <th class="col-xs-1">#</th>
        <th class="col-xs-7">제목</th>
        <th class="col-xs-1">글쓴이</th>
        <th class="col-xs-2">쓴날</th>
        <th class="col-xs-1">조회수</th>
      </tr>
    </thead>
    <% @sudas.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><a href="/home/board_detail/<%= s.id %>" style="color:black"><%= s.suda_title %></a></td>
      <td><%= s.suda_writer %></td>
      <td><%= s.created_at.to_s(:onboard) %></td>
    </tr>
    <% end %>
  </table>


    <button class="btn btn-default" type="button" onclick="location.href='/home/write'" style="background: none; background-color: none; border-radius: 0;">
      재잘재잘
    </button>
    
  </div>
</div>