<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 200px; width: 730px;">
	<!-- Indicators
	<ol class="carousel-indicators">
  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
  	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>
	 -->
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
  	<div class="item active">
  		<img style="height:200px; width: 1000px;" src=<%= image_path "sojoong2_banner2.jpg" %> alt="1">
  		<div class="carousel-caption">
    		
  		</div>
  	</div>
	</div>
	<!-- Controls 
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="background-image: none;">
  	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background-image: none;">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  	<span class="sr-only">Next</span>
	</a>
	-->
</div>
<div class="announce">
	<div>
		<span><span id="bar">||</span> 소중이는요 <span id="bar">||</span></span>
	</div>
	<br>
	<공지 사항><br>
	-소중이닷컴은 아직 baby 단계입니다. 빠르게 발전시켜나가겠습니다. 많은 관심 부탁드립니다!<br>
	-한줄톡에 비속어 및 저속한 글은 자제해주세요~<br>
	-현재 사이트에서 모든 성인용품에 대해 가격비교가 가능합니다! 업데이트 완료!<br><br>
	<업데이트 상황><br>
	-데이터베이스 하다가 너무 힘들어서 수다방 기초버전 오픈!--(01.12)<br>
	-데이터베이스 일부 확장.. 계속 추가 예정(01.15)<br>
	-이번주와 다음주에 사이트를 이쁘게 만들어서 업데이트 할 예정입니다!!(01.20)<br>
</div>
<div class="chat">
	<span><span id="bar">||</span> 한줄톡 <span id="bar">||</span></span>
  <!--한줄 톡 보여주기-->
  <div id="linetalks" style="padding: 10px; height: 470px; overflow: hidden">
    <% @linetalks.each do |l| %>
      <p id="linetalk"><%= l.linetalk_content %></p>
    <% end %>
  </div>
  <div class="form-group" style="position: absolute; bottom: 0; margin: 0; width: 100%;">
    <div id="page_main_line_talk" class="input-group">
      <input id="linetalk_input" type="text" class="form-control talk_content" name="page_main_line_talk" placeholder="아무거나" style="width: 207px; background: none; background-color: none; border-radius: 0;" required>
      <span class="input-group-btn">
        <button class="btn btn-default talk_submit" type="button" style="background: none; border-radius: 0;">톡!</button>
      </span>
    </div><!-- /input-group -->
  </div>
</div>
<div class="category">
	<div>
		<span><span id="bar">||</span> 인기 품목 <span id="bar">||</span></span>
	</div>
	<ul style="padding: 20px; width: 100%; height: 60px; color: white; font-weight: bold; background-color: #dfdfdf; text-align: center;">
		인기품목 준비중 입니다.
	</ul>
</div>
<div class="board1">
	<div id="title" >
		<img id="smallimg" src=<%=image_path "sojoong2_image.jpg"%>><span>자유로운 수다방</span>
	</div>
	<table>
	    <% @sudas.slice(0,16).each do |s| %>
    	   <tr>
    	       <td style="width: 70px; font-family: Consolas;"><%= s.created_at.strftime('[%m-%d]') %></td>
    	       <td style="width: 388px;">
    	       	<a href="home/page_board_free_detail/<%= s.id  %>" style="color: black; font-family: Consolas;">
    	       		<%= s.suda_title %>
    	       		[<%= s.sudareplies.length%>]
    	       	</a>
    	       	
    	       </td>
    	   </tr>
	    <% end %>
	</table>
</div>
<div class="board2">
	<div id="title">
		<img id="smallimg" src=<%=image_path "sojoong2_image.jpg"%>><span>리뷰하는 수다방</span>
	</div>
	<table>
	    <% @reviews.slice(0,16).each do |r| %>
    	   <tr>
    	       <td style="width: 70px; font-family: Consolas;"><%= r.created_at.strftime('[%m-%d]') %></td>
    	       <td style="width: 388px;">
	    	       	<a href="home/page_board_review_detail/<%= r.id %>" style="color: black; font-family: Consolas;">
	    	       		<%= r.review_title %>
	    	       		[<%= r.reviewreplies.length%>]
	    	       	</a>
	    	       	
    	       </td>
    	   </tr>
	    <% end %>
	</table>
</div>

    
<script>
  $("document").ready(function(){
    $("#menu1").css("color", "black")
  })
  $("#linetalk_input").keydown(function (key) {
    if(key.keyCode == 13){//키가 13이면 실행 (엔터는 13)
      talk_content = $(".talk_content").val()
	    if (talk_content == "" || talk_content.length > 20) {
	    	alert("20자 이하를 유지해 주셔요~")
	    } else {
		    $.ajax({
		      method:"post",
		      url: "/home/page_main_linetalk_write",
		      data: { linetalk_content_view: talk_content },
		      success: function(){
		        $("#linetalks").prepend("<p id='linetalk'>"+talk_content+"</p>");
		        $(".talk_content").val('');
		      },  
		      error: function(){
		        alert("글이 작성되지 않았습니다.");
		        $(".talk_content").val('');
		      }
		      // $("#reply_"+post_id).append("<p>"+post_content+"</p>")
		      // $("#content_"+post_id).val('');
		    })
	    }
    }
  });
  $(".talk_submit").click(function(){
    talk_content = $(".talk_content").val()
    if (talk_content == "" || talk_content.length > 20) {
    	alert("20자 이하를 유지해 주셔요~")
    } else {
	    $.ajax({
	      method:"post",
	      url: "/home/page_main_linetalk_write",
	      data: { linetalk_content_view: talk_content },
	      success: function(){
	        $("#linetalks").prepend("<p id='linetalk'>"+talk_content+"</p>");
	        $(".talk_content").val('');
	      },  
	      error: function(){
	        alert("글이 작성되지 않았습니다.");
	        $(".talk_content").val('');
	      }
	      // $("#reply_"+post_id).append("<p>"+post_content+"</p>")
	      // $("#content_"+post_id).val('');
	    })
    }
  })
</script>