<div id="inner" style="position:relative; left: 50%; margin-left: -500px; padding-top: 20px; padding-bottom: 20px; width: 1000px;">
    <div id="hot100Title" style="margin-bottom: 20px; padding: 20px; height: 82px; width: 100%; border: 1px solid #dfdfdf; background-color: white;">
        <span style="float: left; color: black; font-size: 30px; font-weight: 700; ">자유로운 수다방&nbsp;</span>
        <span style="float: left; margin-top: 14px; color: black; font-size: 16px;">재잘재잘 떠드는 공간</span>
    </div>
    <div style="padding: 10px; height: 100px; width: 100%; color: gray; border-bottom: 1px solid gray;">
        자유로운 수다방
        <span style="display: block; margin-top: 5px; margin-bottom: 5px; width: 100%; color: black; font-size: 20px; font-weight: bold;"><%= @board_free_detail.suda_title %></span>
        <span style="float: right"><%= @board_free_detail.created_at.strftime('%Y-%m-%d %H:%M:%S') %></span>
        글쓴이: <span style="color:black; font-weight: bold;"><%= @board_free_detail.suda_writer %></span>
        
        <!--삭제 및 수정-->
        <span style="float: right">
            <!--!!!!!삭제하는거!!!!-->
            <!-- Trigger the modal with a button -->
            <a data-toggle="modal" data-target="#myModal">
                삭제
            </a>
            
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
            
                <!-- Modal content-->
                
                <div class="modal-content">
                  <form action="/home/page_board_free_delete/<%= @board_free_detail.id %>" method="post">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">비밀번호를 입력해주세요</h4>
                      </div>
                      <div class="modal-body">
                        
                          <div class="form-group">
                            <label for="exampleInputEmail1">비밀번호</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" name="checksudapw_view" placeholder="비밀번호">
                          </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Submit</button>
                        
                      </div>
                  </form>
                </div>
            
              </div>
            </div>
            
            <!--!!!!!!!!!수정하는거!!!!!!!!!!!!!-->
            <!-- Trigger the modal with a button -->
            <a data-toggle="modal" data-target="#reviseModal">
                수정
            </a>
            
            <!-- Modal -->
            <div id="reviseModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
            
                <!-- Modal content-->
                
                <div class="modal-content">
                  <form action="/home/page_board_free_update/<%= @board_free_detail.id %>" method="post">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">adfsfads</h4>
                      </div>
                      <div class="modal-body">
                        
                          <div class="form-group">
                            <label for="exampleInputEmail1">비밀번호</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" name="checksudapw_view" placeholder="비밀번호">
                          </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Submit</button>
                        
                      </div>
                  </form>
                </div>
            
              </div>
            </div>
            
            
        </span><!--삭제 및 수정 끝!!!!!-->
        
    </div>
    <div style="padding: 10px; width: 100%; min-height: 200px;">
        <%= @board_free_detail.suda_content %>
    </div>
    </div>
    <div style="padding: 10px; width: 100%;">
    	<label for="exampleInputEmail1">댓글 <%= @board_free_detail.sudareplies.length %>개</label>
    	<table class="reply">
    	<% @board_free_detail.sudareplies.each do |r| %>
			<tr style="display: block; padding-top: 10px; padding-bottom: 10px; border-bottom-width: 1px; border-bottom-style: dotted;">
    			<td style="width: 100px;"><%= r.sudareplyname %></td>
    			<td style="width: 860px;"><%= r.sudareplycontent %></td>
    		</tr>
		<% end %>
		</table>
    	<div style="margin-top: 15px; width: 100%;">
            <input type="text" class="reply_name" name="reply_writer_name" id="exampleInputEmail1" placeholder="글쓴이" style="width: 100px;">
            <input type="text" class="reply_content" name="reply_content" id="exampleInputEmail1" placeholder="내용" style="width: 790px;">
            <button type="submit" value="<%= @board_free_detail.id %>" id="reply_submit" style="padding: 0px 5px 0px 5px;">댓글달기</button>
        </div>
    </div>
</div>

<script>
    $(".reply_content").keydown(function (key) {
        if(key.keyCode == 13){//키가 13이면 실행 (엔터는 13)
            post_id = $("#reply_submit").value;
            reply_name = $(".reply_name").val();
            reply_content = $(".reply_content").val();
            $.ajax({
                method: "POST",
                url: "/home/page_board_free_reply_save",
                data: {id_of_post: post_id , reply_writer_name: reply_name, reply_content: reply_content },
                success: function(){
                    $(".reply").append("<tr style=\"display: block; padding-top: 10px; padding-bottom: 10px; border-bottom-width: 1px; border-bottom-style: dotted;\"><td style=\"width: 100px;\">" 
                    +reply_name+"</td><td style=\"width: 860px;\">"+reply_content+"</td></tr>");
                    $(".reply_name").val('');
                    $(".reply_content").val('');
                }
                
            })
        }
    });
    $("#reply_submit").click(function(){
        post_id = this.value;
        reply_name = $(".reply_name").val();
        reply_content = $(".reply_content").val();
        $.ajax({
            method: "POST",
            url: "/home/page_board_free_reply_save",
            data: {id_of_post: post_id , reply_writer_name: reply_name, reply_content: reply_content },
            success: function(){
                $(".reply").append("<tr style=\"display: block; padding-top: 10px; padding-bottom: 10px; border-bottom-width: 1px; border-bottom-style: dotted;\"><td style=\"width: 100px;\">" 
                +reply_name+"</td><td style=\"width: 860px;\">"+reply_content+"</td></tr>");
                $(".reply_name").val('');
                $(".reply_content").val('');
            }
            
        })
    });
</script>