	<!--<div class="myModal" style="display: hidden; position:absolute; left:p; right:0; top: 0; height: 100%; width: 100%; background-color: rgba( 0, 0, 0, 0.5 ); z-index: 1;">-->
	<!--	<div align="center" style="margin-left:auto; margin-right:auto; margin-top:150px; width:800px; border-radius: 0;">-->
	<!--		<div class="modal-content">-->
	<!--	      <div class="modal-header">-->
	<!--	        <h4 class="modal-title">아직 공사중입니당</h4>-->
	<!--	      </div>-->
	<!--	      <div class="modal-body">-->
	<!--	        <img style="height:150px" src="/assets/under_construction.png">-->
	<!--	      </div>-->
	<!--	      <div class="modal-footer">-->
	<!--	      	<a href="/">-->
	<!--	        	<button type="button" class="btn btn-default" data-dismiss="modal" style="background: none; border-radius: 0;">-->
	<!--	        	  돌아가기-->
	<!--	        	</button>-->
	<!--	        </a>-->
	<!--	      </div>-->
	<!--	    </div>-->
	<!--    </div>-->
	<!--</div>-->

 	
  <!--<script type="text/javascript">-->
 	<!--	$(".myModal").css("display", "block")-->
  <!-- </script>-->
 	<div id="inner" style="position:relative; left: 50%; margin-left: -500px; padding-top: 20px; padding-bottom: 20px; width: 1000px;">
	    <div id="hot100Title" style="margin-bottom: 20px; padding: 20px; height: 82px; width: 100%; border: 1px solid #dfdfdf; background-color: white;">
	        <span style="float: left; color: black; font-size: 30px; font-weight: 700; ">자유로운 수다방&nbsp;</span>
            <span style="float: left; margin-top: 14px; color: black; font-size: 16px;">재잘재잘 떠드는 공간</span>
	    </div>  
  <table class="table table-striped">
    <thead style="border-bottom:0.5px solid black">
      <tr>
        <th class="col-xs-1">#</th>
        <th class="col-xs-5">제목</th>
        <th class="col-xs-2">글쓴이</th>
        <th class="col-xs-1.5">쓴날</th>
        <th class="col-xs-1">조회수</th>
        <th class="col-xs-1.5"></th>
      </tr>
    </thead>
    <% @sudas.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><a href="/home/page_board_free_detail/<%= s.id %>" style="color:black"><%= s.suda_title.truncate(25) %></a></td>
      <td><%= s.suda_writer %></td>
      <td><%= s.created_at.strftime('%b %d, %H:%M') %></td>
      <td><!--조회수!-->
 
          <%= s.suda_viewcount %>
  
      </td>
      <td>
        <!--!!!!!삭제하는거!!!!-->
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">삭제</button>
        
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            
            <div class="modal-content">
              <form action="/home/page_board_free_delete/<%= s.id %>" method="post">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">비밀번호를 입력해주세요</h4>
                  </div>
                  <div class="modal-body">
                    
                      <div class="form-group">
                        <label for="exampleInputEmail1">비밀번호</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" name="checksudapw_view" placeholder="비밀번호">
                      </div>
                      
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Submit</button>
                    
                  </div>
              </form>
            </div>
        
          </div>
        </div>
        
        <!--!!!!!!!!!수정하는거!!!!!!!!!!!!!-->
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#reviseModal">수정</button>
        
        <!-- Modal -->
        <div id="reviseModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            
            <div class="modal-content">
              <form action="/home/page_board_free_update/<%= s.id %>" method="post">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">adfsfads</h4>
                  </div>
                  <div class="modal-body">
                    
                      <div class="form-group">
                        <label for="exampleInputEmail1">비밀번호</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" name="checksudapw_view" placeholder="비밀번호">
                      </div>
                      
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Submit</button>
                    
                  </div>
              </form>
            </div>
        
          </div>
        </div>
        
        
        
      </td>
    </tr>
    <% end %>
  </table>


    <button class="btn btn-default" type="button" onclick="location.href='/home/page_board_free_write'" style="background: none; background-color: none; border-radius: 0;">
      재잘재잘
    </button>
    
  </div>
  
<script>
  $("document").ready(function(){
    $("#menu4").css("color", "black")
    
    if (<%= @notice %> != "undefined") {
    alert(<%= @notice %>)
    }
  })
</script>